<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
</head>
<body>
    <h2>Chat with {{ receiver.username }}</h2>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <button id="chat-message-submit">Send</button>

    <script>
        const roomName = "{{ request.user.id }}_{{ receiver.id }}";
        const sender = "{{ request.user.username }}";
        const receiver = "{{ receiver.username }}";

        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += data.sender + ": " + data.message + '\n';
        };

        document.querySelector('#chat-message-submit').onclick = function() {
            const messageInput = document.querySelector('#chat-message-input');
            const message = messageInput.value;
            chatSocket.send(JSON.stringify({ 'message': message, 'sender': sender, 'receiver': receiver }));
            messageInput.value = '';
        };

    const roomName = "{{ request.user.id }}_{{ receiver.id }}";
const sender = "{{ request.user.username }}";
const receiver = "{{ receiver.username }}";

const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    const chatLog = document.querySelector('#chat-log');
    chatLog.value += data.sender + ": " + data.message + '\n';
    chatLog.scrollTop = chatLog.scrollHeight;
};

document.querySelector('#chat-message-submit').onclick = function() {
    const messageInput = document.querySelector('#chat-message-input');
    const message = messageInput.value.trim();
    if (message) {
        chatSocket.send(JSON.stringify({ 'message': message, 'sender': sender, 'receiver': receiver }));
        messageInput.value = '';
    }
};

chatSocket.onopen = function() {
    console.log('Connected to the WebSocket server');
};

chatSocket.onerror = function(error) {
    console.log('Error occurred');
    console.log(error);
};

chatSocket.onclose = function() {
    console.log('Disconnected from the WebSocket server');
};
            const roomName = "{{ request.user.id }}_{{ receiver.id }}";
            const sender = "{{ request.user.username }}";
            const receiver = "{{ receiver.username }}";
        
            const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');
        
            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                document.querySelector('#chat-log').value += data.sender + ": " + data.message + '\n';
            };
        
            document.querySelector('#chat-message-submit').onclick = function() {
                const messageInput = document.querySelector('#chat-message-input');
                const message = messageInput.value;
                chatSocket.send(JSON.stringify({ 'message': message, 'sender': sender, 'receiver': receiver }));
                messageInput.value = '';
            };
      
        
    </script>
</body>
</html>
